.row{
	margin-right: 0;
	margin-left: 0;
}
.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
body{
	padding-top: 149px;
	background: #ffffff;
}

/*------------- inicio HEADER ------------- */

header{
	font-family: 'Roboto';
}
header .top{
	padding: 5px 0;
	padding-right: 15px;
	background: #000000;
}
header .top a{
	color: #ffffff;
	font-size: 20px;
	font-family: 'Open Sans';
}
header .top .fas{
	margin-left: 10px;
	font-size: 28px;
}
header .top .fas:hover{
	color: #e2e2e2;
}
nav{
	background: #ffffff;
}
nav .navbar-brand{
	opacity: 0.8;
}
nav .navbar-brand:hover{
	opacity: 1;
}
.navbar-dark .navbar-nav .nav-link{
	color: black;
}

.navbar-dark .navbar-nav .nav-link.active{
	color: #939393;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color:#e2e2e2;
}
.navbar-dark .navbar-toggler {
    color: black;
    border-color: black;
}

.container-venta{
	background: #ffffff;
	border-top: #939393 2px solid;
	border-bottom: #939393 2px solid;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 10px 0px 8px #888888;
}
.container-venta a{
	color: black;
	font-size: 15px;
}
.container-venta a:hover{
	text-decoration: none;
	color: #c2c2c2;
}


/*------------- fin HEADER ------------- */

/*-------- INICIO products.index.blade -------- */

.container .header{
 	font-family: 'Open Sans';
 	font-weight: bold;
 	margin-bottom: 10px;
	margin-top: 35px;
	border-bottom: solid black 3px;
}
.listadoproductos .producto{
	font-family: 'Open Sans';
	border: solid 1px #cecece;
}
.listadoproductos .producto .img-producto{
	margin-top: 15px;
}
.listadoproductos .producto .fas{
	margin-top: 5px;
	margin-bottom: 5px;
	color: #cecece;
}
.listadoproductos .producto .product-title{
	color: black;
	font-weight: bold;
	margin-top: 15px;
	font-size: 19px;
}
.listadoproductos .producto .precio{
	font-weight: bold;
	font-size: 18px;
}
.listadoproductos .producto .btn{
	margin-bottom: 20px;
}
.listadoproductos h2{
	font-family: 'Roboto';
	font-size: 40px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 30px;
	border-bottom: solid black 2px;
}
.listadoproductos .producto .sale .fas{
	color: pink;
	font-size: 25px;
}
.pagination{
	   margin-top: 35px;
}
.pagination .page-item a{
	color: black;
}
.pagination .page-item.active .page-link{
	background: #000;
	border-color: #000;
}

/*-------- FIN products.index.blade -------- */



/*-------- INICIO products.show.blade -------- */
.product-holder{
	margin-top: 35px;
	background: white;
}
.product-holder .imagen{
	padding: 50px;
	background: ;
}
.product-holder .imagen img{
	/*width: 100%;*/
}
.product-holder .categorias{
	margin-top: 15px;
}
.product-holder .descripcion{
	font-family: 'Roboto', sans-serif;
}
.product-holder .nombre{
	margin-top: 15px;
	font-size: 48px;
	font-weight: bold;

}
.product-holder .precio{
	margin-top: 25px;
	font-size: 20px;
	font-weight: bold;
}
.product-holder .marca{
	margin-top: 5px;
}
.product-holder form{
	margin-top: 25px;
}
.product-holder form .form-control{
	margin-right: 15px;
	font-weight: bold;
}


/*-------- FIN products.show.blade -------- */

/*----- inicio FOOTER ----- */

footer{
	margin-top: 15px;
	background: #ffffff;
	font-family: 'Roboto';
	border-top: solid black 2px;
}
footer .title{
	margin-top: 15px;
	font-weight: bold;
	font-size: 23px;
}
footer .redes .logo-redes{
	padding: 10px;
	border: 3px solid black;
	border-radius: 50%;
	margin-right: 15px;
}
footer .redes .logo-redes .fab{
	color: black;
	font-size: 30px;
}

footer .redes .logo-redes .fa-facebook:hover{
	
	color:#3b5998;
}
footer .redes .logo-redes .fa-instagram:hover{
	color:#8a3ab9;
}
footer .redes .logo-redes .fa-twitter:hover{
	color:#0084b4;
}
footer .redes .logo-redes .fa-youtube:hover{
	color:#ff0000;
}
footer .newsletter input{
	border: solid 1px black;
	padding: 10px;
	border-radius: 35px;
	width: 50%;
}
footer .bottom{
	margin-top: 15px;
	padding-top: 25px;
	background: #000000;
	color: #ffffff;
}
footer .bottom a{
	font-size: 25px;
	color: #ffffff;
}
footer .bottom a:hover{
	color: #cecece;
	text-decoration: none;
}

/*----- fin FOOTER ----- */



























/*-------- incio ASIDE -------- */
.aside .contenedor{
	background: #f2f2f2;
	margin-top: 20px;
	padding: 10px;
}
.aside .contenedor .categoria-aside{
	/*border: solid 1px #000;*/
	margin-bottom: 10px;
	padding: 5px;
}
.aside .contenedor .categoria-aside a{
	/*color: #000;*/
}
.aside .contenedor .categoria-aside a:hover{
	color: #10BBD5;
	text-decoration: none;
}

/*-------- fin ASIDE -------- */






/*------------- ENVIOS ------------- */
.envios .imagen{
	text-align: center;
}
.envios .imagen img{
	width: 50%;
	margin-bottom: 30px;
}
.envios .body .cards-envios .iconos{
	text-align: center;
}
.envios .icono-envio{
	color: #10BBD5;
	font-size: 40px;
	margin-bottom: 20px;
}
.envios .boton-contacto{
	text-align: center;
	margin-top: 35px;
	margin-bottom: 35px;
}
 /*------------- MAYORISTA ------------- */

 .mayorista .texto-mayorista{
 	margin-bottom: 35px;
 }
 .mayorista .card{
 	margin-bottom: 35px;
 	text-align: center;
 	background: none;
 }
 .mayorista .card .card-title{
 	font-weight: bold;
 	margin-bottom: 15px;
 }
 .mayorista .card .card-subtitle{
 	margin-bottom: 15px;
 }
 .mayorista .card a{
 	color: #10BBD5;
 	font-weight: bold;
 }
 /*------------- FRANQUICIAS ------------- */
.franquicias .body{
	background: #fff;
	padding-top: 35px;
	margin-bottom: 35px;
	box-shadow: 5px 5px 5px #888888;
}
.franquicias a{
 	color: #10BBD5;
 	font-weight: bold;
}
.franquicias .carousel-franquicias{
 	margin-left: 40px;
}
.franquicias .carousel{
 	width: 75%;
 	margin: auto;
 	margin-bottom: 35px;
}
.franquicias .contacto{
	margin-bottom: 35px;
}
/*------------- PUBLICITARIOS ------------- */
.publicitarios a{
	color: #10BBD5;
 	font-weight: bold;
}
.publicitarios .contacto{
	margin-bottom: 35px;
}
/*------------- PROFILE ------------- */
.profile{
	text-align: center;
	margin-bottom: 40px;
}
/*------------- CONTACTO ------------- */
.contacto a{
	color: #10BBD5;
 	font-weight: bold;
}
.contacto{
	margin-bottom: 35px;
}
.contacto .formulario{
	text-align: center;
}
/*------------- EVENTOS ------------- */
.eventos{
	margin-bottom: 35px;
}

 

/*------------ SIGN IN / LOG IN ------------*/

.signjoin{
	padding-top: 45px;
	padding-bottom: 45px;
}
.signjoin .ingresar{
	margin-top: 45px;
}
.signjoin .ingresar small a{
	color: black;
}
.signjoin .form-lastname{
	margin-top: 15px;
}
.signjoin .form-email{
	margin-top: 15px;
}
.signjoin .form-password{
	margin-top: 15px;
}
.signjoin .form-repassword{
	margin-top: 15px;
}
.signjoin .form-check{
	margin-top: 15px;
}
.signjoin .btn{
	margin-top: 15px;
}
.signjoin .registrarse{
	margin-top: 45px;
}
.signjoin .registrarse .aclaracion{
	margin-top: 10px;
}
.signjoin .registrarse .aclaracion small{

}

/*------------ FAQ ------------*/


.faq .titulo-faq{
	font-weight: bold;
	color: #06879b
}

/*------------ USER ------------*/

.error{
	font-weight: bold;
	color: red;
	margin: 10px 10px;
}

/*------------ MEDIA QUERIES ------------*/




@media screen and (max-width:991px) {
	.container-main-body .body-store .categorias-store .categoria:nth-child(even) p{
		margin-right: 0;
}
@media screen and (max-width:575px) {
	.container-main-body .body-store .categorias-store .categoria p{
		margin-right: 0;
}
